body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: thistle;
  align-items: center;
  padding: 8px 12px;
}
.logo {
  font-size: 20px;
}
.loginNregister {
  display: flex;
}
.loginNregister li {
  padding-right: 10px;
  list-style: none;
}
